<div id="wrapper">

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Calorie</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
       
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="/home/board">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/home/friends">
                        <div>
                            <i class="fa fa-user"></i> 3 New Friends
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

   <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <form action='/do_friend' method='get'>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" name="find_friend" placeholder="친구 email...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            찾기!
                        </button>
                    </span>
                    </div>
                    </form>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> 대시보드</a>
                </li>
                <li>
                    <a href="/home/board"><i class="fa fa-clock-o fa-fw"></i> 식단 관리</a>
                </li>
                <li>
                    <a href="/home/friends"><i class="fa fa-user fa-fw"></i> 친구 관리</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
</div>

<div id="wrapper">

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            
        </div>
    </div>

<!-- /#page-wrapper -->
        <div class='panel panel-info'>
            <div class='panel panel-heading' style="margin-bottom:0px; height:50px">
            <p style="font-size:15pt;position:relative;z-index:0"><i class="fa fa-question-circle" aria-hidden="true"></i>   찾으신 분이 맞습니까?</p> 
               <%if @user.email==@touser.email%>
                <form>
                    <div class="btn-group" style="position:absolute;top:60px; right:90px;z-index:3;">
                        <button class="btn btn-success" type="button">   본 인</button>
                    </div>
                </form>
                <%else%>
                <%if @relation.status==2%>
                <form action='/bemyfr/<%=@user.id%>/<%=@touser.id%>' method='post'>
                    <div class="btn-group" style="position:absolute;top:60px; right:90px;z-index:3;">
                        <button class="btn btn-success" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i>   친구 추가</button>
                    </div>
                </form>
                <%end%>
                <%if @relation.status==1%>
                <form>
                    <div class="btn-group" style="position:absolute;top:60px; right:90px;z-index:3;">
                        <button class="btn btn-success" type="button"><i class="fa fa-check" aria-hidden="true"></i>   친구</button>
                    </div>
                </form>
                <%end%>
                <%if @relation.status==0&&@relation.user_email==@user.email%>
                <form>
                    <div class="btn-group" style="position:absolute;top:60px; right:90px;z-index:3;">
                        <button class="btn btn-success" type="button"><i class="fa fa-spinner" aria-hidden="true"></i>   친구 요청 중</button>
                    </div>
                </form>
                <%end%>
                <%if @relation.status==0&&@relation.user_email==@touser.email%>
                <form action='/make_friend2/<%=@touser.id%>/<%=@user.id%>' method='post'>
                    <div class="btn-group" style="position:absolute;top:60px; right:90px;z-index:3;">
                        <button class="btn btn-success" type="submit">   승락</button>
                    </div>
                </form>
                <%end%>
                <%end%>
            </div>
            <div class='panel' style="margin-bottom:0px">
            <li class="list-group-item">
                              <a href=""><div style="position: absolute;top:180px;left:270px;color:white;font-size:23pt;z-index:3;"><strong><%=@touser.username%></strong>
                              </div></a>
                              <div style="position: absolute;top:225px;left:270px;color:gray;font-size:14pt;z-index:3;"><strong><%=@touser.email%></strong>
                              </div>
                              <div style="position: relative; z-index: 1;">
                                     <img src="<%=@touser.background_img%>" style="width:100%;height:250px" alt:"background image">
                              </div>
                              <div style="position: absolute; top: 50px; left:40px;z-index: 2;border-style:solid; border-color:white">
                                <a href=""><img src="<%=@touser.profile_img%>" style="width:200px;height:200px" alt="profile image"></a>
                              </div>
                      </li>
            </div>
        </div>
        <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-users" aria-hidden="true"></i> 알 수도 있는 사람
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <%@allfriend.each do |f|%>
                            <%if f.friend_email !=@touser.email &&f.status==2%>
                            <form action='/bemyfr2/<%=@user.id%>/<%=@alluser.find_by(email:f.friend_email).id%>' method='post'>
                            <div class="col-sm-4 col-md-3">
                                <div class="thumbnail"> 
                                    <img alt="100%x200"
                                    src="<%=@alluser.find_by(email:f.friend_email).profile_img%>" 
                                    data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                    <div class="caption" align = "center"> 
                                        <h4><strong><a href = ""><%=@alluser.find_by(email:f.friend_email).username%></a></strong></h4> 
                                        <p style="color:gray"><%=@alluser.find_by(email:f.friend_email).email%></p>
                                        <button class="btn btn-info" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i>   친구 추가</button>
                                    </div> 
                                </div>
                            </div> 
                            </form>
                            <%end%>
                        <%end%>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
    </div>
</div>
<!-- /#wrapper -->
