<div id="wrapper">
    
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Calorie</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
       
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="/home/board">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/home/friends">
                        <div>
                            <i class="fa fa-user"></i> 3 New Friends
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" id="find_friend" placeholder="친구 email...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#myModal_finding_friends">
                            찾기!
                        </button>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> 대시보드</a>
                </li>
                <li>
                    <a href="/home/board"><i class="fa fa-clock-o fa-fw"></i> 식단 관리</a>
                </li>
                <li>
                    <a href="/home/friends"><i class="fa fa-user fa-fw"></i> 친구 관리</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>


<!-- Modal(finding friends) -->
<div class="modal fade" id="myModal_finding_friends" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">친구 찾기</h4>
      </div>
      <div class="modal-body"> 
          <div class="panel panel-default">
                 <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user-o" aria-hidden="true"></i>    친구</h3>
                 </div>
                 <div class="panel-body">
                    <div class="media">
                        <div class="media-left media-top">
                           <a href=""><img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22120%22%20height%3D%22120%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20120%20120%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15baee46773%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15baee46773%22%3E%3Crect%20width%3D%22120%22%20height%3D%22120%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2235.5%22%20y%3D%2264.5%22%3E120x120%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-src="holder.js/140x140" alt='Thumbnail'>
                           </a>
                        </div>
                    <div class="media-body">
                            <div style="margin-top:10px">
                                  <h4 class="media-heading"><a href="" style="color:black;"><strong>갸라도스</strong></a> 
                                  <div class="pull-right">
                                    <button onclick="" type="button" class="btn" style="width:80pt;height:20pt;">
                                        <div style="color:darkslategray"><p style="line-height:10px"><strong><i class="fa fa-user-plus" aria-hidden="true"></i>     친구 추가</strong></p></div></button>
                                  </div>
                                  </h4>
                            </div>
                            <br>  
                           <div style='line-height:50%; color:gray'>
                               <p>인적사항</p>
                               <p>인적사항</p>
                           </div>   
                    </div>
                    </div>
                 </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group">
              <li class="list-group-item">
                      <a href=""><div style="position: absolute;top:200px;left:270px;color:WHITE;font-size:23pt;z-index:3;"><strong><%=@user.username%></strong>
                      </div></a>
                      <div style="position: relative; z-index: 1;">
                             <img src="<%=@user.background_img%>"
                                  data-src="holder.js/1200x200" style="width:100%;height:250px" alt:"background image">
                      </div>
                      
                      <div class="btn-group" style="position:absolute;top:210px; right:50px;z-index:3;">
                          <a href:""><button class="btn btn-default" type="button"><i class="fa fa-pencil" aria-hidden="true"></i>   프로필 수정</button></a>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="float:right"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                             <ul class="dropdown-menu" role="menu">

                                <li><a href = "#change_profile_img"data-toggle="modal">프로필 사진 바꾸기</a></li>
                                <li><a href="#change_background_img"data-toggle="modal">배경 사진 바꾸기</a></li>
                             </ul>
                      </div>  
                      <div style="position: absolute; top: 100px; left:40px;z-index: 2;border-style:solid; border-color:white">
                        <a href=""><img src="<%=@user.profile_img%>" data-src="holder.js/200x200" 
                                    style="width:200px;height:200px" alt="profile image"></a>
                      </div>
              </li>
              <li class="list-group-item" style="height:55px">
                  <nav class="navbar" style="height:2px">
                     <div class="container-fluid">
                        <div class="navbar-header" style="width:220px">
                             <a class="navbar-brand"></a>
                        </div>
                        <style>
                           @media (min-width: 768px) {
                              .navbar-nav > li > a {
                            /* (80px - line-height of 27px) / 2 = 26.5px */
                            padding-top: 21px;
                            padding-bottom: 21px;
                            line-height: 0px;
                            width:120px;
                            text-align:center;
                            font-size:13pt;
                              }
                            }
                        </style>
                        <ul class="nav navbar-nav"style="font-weight:bold">
                          <li class="active"><a href="#">식단</a></li>
                          <li><a href="#">정보</a></li>
                        </ul>
                     </div>
                  </nav>     
              </li>
            </ul>
        </div>
        <!-- /.col-lg-12 -->
    </div>

                                                   
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="width:auto;">
              <div class="panel-heading" style="height:45px">
                  <div><p style="font-size:18pt; color:#6E6E6E"><strong><i class="fa fa-telegram" aria-hidden="true"></i>   친구 요청</strong></p></div>
              </div>
                      <div class="panel-body">
                          <%@allfriend.each do |f|%>
                          <%if f.friend_email==@user.email &&f.status==0%>
                          <div class="panel panel-default"  style="float:left;width:32%;margin-right:15px">
                              <div class="panel-body">
                                    <div class="media">
                                            <div class="media-left media-top">
                                            <a href=""><img src="<%=@alluser.find_by(email:f.user_email).profile_img%>" alt='Thumbnail' style="width:120px;height:120px">
                                            </a>
                                            </div>
                                            <div class="media-body">
                                                <div style="margin-top:10px">
                                                    <h4 class="media-heading"><a href="" style="color:black;"><strong><%=@alluser.find_by(email:f.user_email).username%></strong></a> 
                                                        <div class="pull-right">
                                                            <form action='/make_friend/<%=f.id%>' method='post'>
                                                            <button type="submit" class="btn btn-primary" style="width:50pt;height:20pt;">
                                                            <div style="color:white;"><strong><p style="line-height:10px">    승락</p></strong></div>
                                                            </button>
                                                            </form>
                                                        </div>
                                                    </h4>
                                                </div>
                                                <br>  
                                                <div style='line-height:50%; color:gray'>
                                                   <p><%=@alluser.find_by(email:f.user_email).email%></p>
                                                </div>   
                                            </div>
                                    </div>
                              </div>
                          </div>
                          <%end%><%end%>
                         
                      </div>
            </div>
                     
            <div class="panel panel-default" style="width:auto">
              <div class="panel-heading"   style="position:relative; z-index:1;height:45px">
                  <div  style="position:absolute; z-index:3"><p style="font-size:18pt; color:#6E6E6E"><strong><i class="fa fa-user-o" aria-hidden="true"></i>    친구</strong></p>
                  </div>
                  <div class="input-group" style="position:relative;z-index:2;width:200px; left:83%">
                      <input type="text" class="form-control" value="" placeholder="친구 검색" aria-describedby="basic-addon2">
                      <span class="input-group-btn"><button class="btn btn-info" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
                  </div> 
              </div>
                  <div class="panel-body">
                              <%@allfriend.each do |f|%>
                              <%if f.user_email==@user.email&&f.status==1%>
                              <div class="panel panel-default"  style="float:left;width:32%;margin-right:15px">
                              <div class="panel-body">
                                <div class="media">
                                            <div class="media-left media-top">
                                            <a href=""><img src="<%=@alluser.find_by(email:f.friend_email).profile_img%>" style="width:120px;height:120px"alt='Thumbnail'>
                                            </a>
                                            </div>
                                            <div class="media-body">
                                                <div style="margin-top:10px">
                                                    <h4 class="media-heading"><a href="" style="color:black;"><strong><%=@alluser.find_by(email:f.friend_email).username%></strong></a> 
                                                        <div class="pull-right">
                                                            <button onclick="" type="button" class="btn btn-default" style="width:55pt;height:20pt;">
                                                            <div style="color:gray"><strong><p style="line-height:10px"><i class="fa fa-check" aria-hidden="true"></i>    친구</p></strong></div>
                                                            </button>
                                                        </div>
                                                    </h4>
                                                </div>
                                                <br>  
                                                <div style='line-height:50%; color:gray'>
                                                    <br><br>
                                                   <p><%=@alluser.find_by(email:f.friend_email).email%></p>
                                                </div>   
                                            </div>
                                </div>
                              </div>
                          </div>
                          <%end%><%end%>
                          <%@allfriend.each do |f|%>
                              <%if f.friend_email==@user.email&&f.status==1%>
                              <div class="panel panel-default"  style="float:left;width:32%;margin-right:15px">
                              <div class="panel-body">
                                <div class="media">
                                            <div class="media-left media-top">
                                            <a href=""><img src="<%=@alluser.find_by(email:f.user_email).profile_img%>" style="width:120px;height:120px"alt='Thumbnail'>
                                            </a>
                                            </div>
                                            <div class="media-body">
                                                <div style="margin-top:10px">
                                                    <h4 class="media-heading"><a href="" style="color:black;"><strong><%=@alluser.find_by(email:f.user_email).username%></strong></a> 
                                                        <div class="pull-right">
                                                            <button onclick="" type="button" class="btn btn-default" style="width:55pt;height:20pt;">
                                                            <div style="color:gray"><strong><p style="line-height:10px"><i class="fa fa-check" aria-hidden="true"></i>    친구</p></strong></div>
                                                            </button>
                                                        </div>
                                                    </h4>
                                                </div>
                                                <br>  
                                                <div style='line-height:50%; color:gray'>
                                                    <br><br>
                                                   <p><%=@alluser.find_by(email:f.user_email).email%></p>
                                                </div>   
                                            </div>
                                </div>
                              </div>
                          </div>
                          <%end%><%end%>
                  </div>
            </div>
            
        </div>
    </div>
</div>    
<!-- change profile image modal -->
<div class="modal fade" id="change_profile_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
            <form action="/change_profile_img" method='post'>
              <div class="form-group">
                <label for="exampleInputEmail1">이미지 url을 입력해주세요.</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="url..." name="img">
                <button type="submit" class="btn btn-default">확인</button>
              </div>
            </form>
      </div>
    </div>
   </div>
</div>
<!-- change background image modal -->
<div class="modal fade" id="change_background_img" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
            <form action="/change_background_img" method='post'>
              <div class="form-group">
                <label for="exampleInputEmail1">이미지 url을 입력해주세요.</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="url..." name="img">
                <button type="submit" class="btn btn-default">확인</button>
              </div>
            </form>
      </div>
    </div>
   </div>
</div>
    
    