<div id="wrapper">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Calorie</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
       
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="/home/board/<%=current_user.id%>">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/home/friends">
                        <div>
                            <i class="fa fa-user"></i> New Friends
                        </div>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/home/friends"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li class="divider"></li>
                <li><a href="/users/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->


    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <form action='/do_friend' method='get'>
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" name="find_friend" placeholder="친구 email...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            찾기!
                        </button>
                    </span>
                    </div>
                    </form>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/"><i class="fa fa-dashboard fa-fw"></i> 대시보드</a>
                </li>
                <li>
                    <a href="/home/board/<%=current_user.id%>"><i class="fa fa-clock-o fa-fw"></i> 식단 관리</a>
                </li>
                <li>
                    <a href="/home/friends"><i class="fa fa-user fa-fw"></i> 친구 관리</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">대시보드</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= UserFriend.where(:friend_email => current_user.email, :status => 0).count%></div>
                            <div>새 친구 요청!</div>
                        </div>
                    </div>
                </div>
                <a href="/home/friends">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                            <% @count = 0 %>
                            <% Post.where(:user_email => current_user.email).each do |p| %>    
                                <%@count = @count + Reply.where(:post_id => p.id, :status => 1).count%>
                            <% end %>
                            <%= @count %>
                            </div>
                            <div>새 댓글!</div>
                        </div>
                    </div>
                </div>
                <a href="/home/board/<%=current_user.id%>">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> 일일 식단 관리
                    <div class="pull-right">
                        <div class="btn-group">
                            <button onclick = "location.href = '/home/board/<%=current_user.id%>' " type="button" class="btn btn-default btn-xs">
                                더 보기
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="bs-example" data-example-id="thumbnails-with-custom-content"> 
                        <div class="row"> 
                            <div class="col-sm-6 col-md-4">
                                <div class="thumbnail">
                                    
                                    <% if @breakfast.nil? %> 
                                        <img alt="100%x200" data-src="holder.js/100%x200" 
                                        src="http://mblogthumb2.phinf.naver.net/20160803_97/yaungjun3_1470169731758A1OQm_PNG/%C4%AB%C4%AB%BF%C0_%C0%CC%B8%F0%C6%BC%C4%DC032.png?type=w2"
                                        data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                        <div class="caption" align = "center"> 
                                            <h3>아침 </h3>
                                            
                                            <p>식사를 등록해주세요.</p> 
                                            <p class="btn btn-primary" data-toggle="modal" data-target="#myModal0" role="button">등록</p> 
                                    <% else %>
                                        
                                            <img alt="100%x200" data-src="holder.js/100%x200" 
                                        src="<%= @breakfast.image.url%>"
                                        data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                        <div class="caption" align = "center"> 
                                            <h3>아침 </h3>
                                            
                                            <p><%= @breakfast.content%></p> 
                                            <h4 style = "color: red">칼로리: <%=@breakfast.calorie%></h4>
                                    <%end%>
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-sm-6 col-md-4"> 
                                <div class="thumbnail"> 
                                    <% if @lunch.nil? %> 
                                    <img alt="100%x200" data-src="holder.js/100%x200" 
                                    src="http://mblogthumb2.phinf.naver.net/20160803_97/yaungjun3_1470169731758A1OQm_PNG/%C4%AB%C4%AB%BF%C0_%C0%CC%B8%F0%C6%BC%C4%DC032.png?type=w2"
                                    data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                    <div class="caption" align = "center"> 
                                        <h3>점심</h3> 
                                        <p>식사를 등록해주세요.</p> 
                                        <p class="btn btn-primary" data-toggle="modal" data-target="#myModal1" role="button">등록</p> 
                                    <% else %>
                                        
                                            <img alt="100%x200" data-src="holder.js/100%x200" 
                                        src="<%= @lunch.image.url%>"
                                        data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                        <div class="caption" align = "center"> 
                                            <h3>점심 </h3>
                                            
                                            <p><%= @lunch.content%></p> 
                                            <h4 style = "color: red">칼로리: <%=@lunch.calorie%></h4>
                                    <%end%>
                                    </div> 
                                </div> 
                            </div> 
                            <div class="col-sm-6 col-md-4"> 
                                <div class="thumbnail"> 
                                    <% if @dinner.nil? %> 
                                    <img alt="100%x200" data-src="holder.js/100%x200" 
                                    src="http://mblogthumb2.phinf.naver.net/20160803_97/yaungjun3_1470169731758A1OQm_PNG/%C4%AB%C4%AB%BF%C0_%C0%CC%B8%F0%C6%BC%C4%DC032.png?type=w2"
                                    data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                    <div class="caption" align = "center"> 
                                        <h3>저녁</h3> 
                                        <p>식사를 등록해주세요.</p> 
                                        <p class="btn btn-primary" data-toggle="modal" data-target="#myModal2" role="button">등록</p> 
                                    <% else %>
                                        
                                            <img alt="100%x200" data-src="holder.js/100%x200" 
                                        src="<%= @dinner.image.url%>"
                                        data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                        <div class="caption" align = "center"> 
                                            <h3>저녁 </h3>
                                            <p><%= @dinner.content%></p> 
                                            <h4 style = "color: red">칼로리: <%=@dinner.calorie%></h4>
                                    <%end%>
                                    </div> 
                                </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> 칼로리 차트
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                     <div id="morris-area-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa fa-user fa-fw"></i> 친구들의 대시보드
                    <div class="pull-right">
                        <div class="btn-group">
                            <button onclick = "location.href = '/home/friends' " type="button" class="btn btn-default btn-xs">
                                더 보기
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <% UserFriend.where("(user_email = ? or friend_email = ?) and status = 1", current_user.email, current_user.email).each do |f| %>
                        
                            <% @friend_user = User.find_by(email:f.friend_email) %>
                            <% if !@friend_user.nil?%>
                                <% if @friend_user.id == current_user.id%>
                                    <% @friend_user = User.find_by(email:f.user_email)%>
                                <% end%>    
                                <div class="col-sm-4 col-md-3"> 
                                    <div class="thumbnail"> 
                                        <img alt="100%x200" data-src="holder.js/100%x200" 
                                        src="<%=@friend_user.profile_img%>"
                                        data-holder-rendered="true" style="height: 200px; width: 100%; display: block;"> 
                                        <div class="caption" align = "center"> 
                                            <h4><strong><a href = "/home/board/<%=@friend_user.id%>"><%=@friend_user.username%></a>
                                            </strong></h4> 
                                        </div> 
                                    </div> 
                                </div>
                            <% end %>
                        <%end%>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            
        </div>
    </div>
    <!-- /.row -->
    
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Modal0 -->
<div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">식사 등록</h4>
      </div>
      <div class="modal-body">
        <form action ="/write_post/0" method="POST" enctype="multipart/form-data">
            <div>
                <p style = "float:left"><strong style="margin-left: 0px;padding-left: 50px;">내용</strong></p>
        		<textarea style="margin-left: 20px;" name="content" rows="5" cols="60" 
        		placeholder = "식사에 대한 내용을 자유롭게 작성해주세요."></textarea>
    		</div>
    		<div style="margin-top: 25px;">
                <p style = "float:left"><strong style="padding-left: 50px;">음식 사진 업로드&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
    			<input type="file" name="pic" accept="image/*">
			</div>
		
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">등록!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">식사 등록</h4>
      </div>
      <div class="modal-body">
        <form action ="/write_post/1" method="POST" enctype="multipart/form-data">
            <div>
                <p style = "float:left"><strong style="margin-left: 0px;padding-left: 50px;">내용</strong></p>
        		<textarea style="margin-left: 20px;" name="content" rows="5" cols="60" 
        		placeholder = "식사에 대한 내용을 자유롭게 작성해주세요."></textarea>
    		</div>
    		<div style="margin-top: 25px;">
                <p style = "float:left"><strong style="padding-left: 50px;">음식 사진 업로드&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
    			<input type="file" name="pic" accept="image/*">
			</div>
		
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">등록!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">식사 등록</h4>
      </div>
      <div class="modal-body">
        <form action ="/write_post/2" method="POST" enctype="multipart/form-data">
            <div>
                <p style = "float:left"><strong style="margin-left: 0px;padding-left: 50px;">내용</strong></p>
        		<textarea style="margin-left: 20px;" name="content" rows="5" cols="60" 
        		placeholder = "식사에 대한 내용을 자유롭게 작성해주세요."></textarea>
    		</div>
    		<div style="margin-top: 25px;">
                <p style = "float:left"><strong style="padding-left: 50px;">음식 사진 업로드&nbsp;&nbsp;&nbsp;&nbsp;</strong></p>
    			<input type="file" name="pic" accept="image/*">
			</div>
		
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        <button type="submit" class="btn btn-primary">등록!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    var array = <%= raw @results.to_json %>;
    
    new Morris.Area({
  // ID of the element in which to draw the chart.
  element: 'morris-area-chart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: array,
  xLabels: "day",
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['breakfast', 'lunch', 'dinner'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['총 칼로리 양(아침)', '총 칼로리 양(점심)','총 칼로리 양(저녁)']
});
</script>